.container{
    height: auto;
    width: 100%;
}

.row{
    display: inline-block;
    height: auto;
    width: 100%;
    margin-bottom: 5px;
    background-color: #e4f1f1;
 
}

.col_4{
    background-color: #3f69ed;
    vertical-align: top;
    display: inline-block;
    height: auto;
    width: calc(100% / 3);

    .full_name{
        display: inline-block;
        color:white;
        font-size: 1.5rem;
    }


}

.col_8{
    vertical-align: top;
    display: inline-block;
    height: auto;
    width: calc(100% * 2 / 3);

}

a{
    text-decoration: none;
   
}

