.pd_10{
    width: 100%;
    span{
        margin: 0 5px;
        font-size: 1.5rem;
        display: inline-block;
    }
}

.checked{
    color: yellow;
}

.pd_10_left{
    text-align: left;
    span{
        padding: 0 10px;
        font-size: 1.5rem;
    }
}

.style{
    background-color: #1a4eee;
    border:1px solid black;
    font-size: 2rem;
    color: white;
    padding: 5px;
}